[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-huggingface = "*"
faiss-cpu = "*"
pypdf = "*"
pymupdf = "*"
langchain-text-splitters = "*"
"pdfminer.six" = "*"
sentence-transformers = "*"
fastapi = "*"
uvicorn = "*"
langchain-openai = "*"
python-dotenv = "*"
langchain = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.13"
